<div class="row">
    <div class="col-10">
        <div class="combo-container">
            <div class="input-group">
                <select class="form-select combo-select" id="inputGroupSelect02">
                    <option selected>All</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <input type="text" class="form-control combo-input" placeholder="Select or type..."
                    [(ngModel)]="inputValue" (focus)="showDropdown.set(true)" (blur)="onBlur()"
                    (input)="filterOptions()" />
                <button class="btn btn-outline-secondary" type="button" (click)="findData()"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="btn btn-outline-secondary" type="button" (click)="resetCombo()"><i class="fa-solid fa-rotate-right"></i></button>
            </div>

            @if(showDropdown() && filteredOptions.length > 0){
            <ul class="combo-dropdown">
                @for (option of filteredOptions; track $index) {
                <li (mousedown)="selectOption(option.pK_UserId)">
                    {{ option.firstName + ' ' + option.lastName + ' (' + option.email + ')'}}
                </li>
                }
            </ul>
            }
        </div>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary h-100 w-100"><i class="fa-solid fa-plus"></i> New User</button>
    </div>
</div>